# @format

name: Docker Image CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./twitter

    steps:
      - uses: actions/checkout@v3
      - name: "Check working directory"
        run: pwd
      - name: "Create env file"
        run: echo "${{ secrets.TWITTER_ENV_PRODUCTION }}" > .env.production
      - name: "Build Docker image"
        run: docker build -t adriantran2809/twitter:v4 -f DockerFile.production .
      - name: Log in to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Push Docker image
        run: docker push adriantran2809/twitter:v4

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: appleboy/ssh-action@v1.0.0
        name: Excusting remote ssh commands using password
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USERNAME }}
          password: ${{ secrets.HOST_PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}
            docker pull adriantran2809/twitter:v4
            docker rm twitter-clone
            docker run -dp 3000:3000 --name twitter-clone -v ~/twitter-clone/uploads:/app/uploads adriantran2809/twitter:v4
