# @format

name: Docker Image CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./twitter

    steps:
      - uses: actions/checkout@v3
      - name: "Check working directory"
        run: pwd
      - name: "Create env file"
        run: echo "${{ secrets.TWITTER_ENV_PRODUCTION }}" > .env.production
      - name: "Build Docker image"
        run: docker build -t dev/twitter:v4 -f DockerFile .
      - name: Log in to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Push Docker image
        run: docker push dev/twitter:v4
